<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><mt:pagetitle escape /> | <mt:workspacename escape /></title>
</head>
<body>
  <h1><mt:pagetitle escape /></h1>
  <mt:include module="ログイン・ログアウト" />
  <div>
    <mt:pagebody convert_breaks="auto" />
  </div>
</body>
</html>